body {
   display: flex;
   width: 100vw;
}
div:first-child {
   width: 70vw;
   display: flex;
}
ul {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
li {
   width: 300px;
}
div:nth-child(2) {
   width: 30vw;
   display: flex;
   align-items: center;
}
input {
   width: 300px;
}
form {
   display: flex;
   flex-direction: column;
}
.b-submit {
   width: 150px;
   margin-left: 83px;
}
