<div style='display: flex; flex-direction: column; height: 90vh; justify-content: center; align-items: center; gap:4rem'>
    <img src='/img/notexist.jpg' alt='' />
    <div style='display: flex; flex-direction: column; justify-content: center; align-items: center; gap:2rem'>
        <h3 style='margin: 0'>This page isn't exist.</h3>
        <a href='http://localhost:8080'>Go to Home Page</a>
    </div>
</div>