<div style='height: 90vh; width: 100vw; display: flex; justify-content: center; flex-direction: column; align-items: center; gap: 2rem'>
    <h4>building in process!</h4>
    <h1>Welcome to Bull Market!</h1>
    <a href='/products'><h5>Check our products here</h5></a>
</div>